PORT=3333
SQLSERVER_HOST=seu-servidor-sql
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=LouvorFlow
SQLSERVER_USER=seu-usuario
SQLSERVER_PASSWORD=sua-senha
SQLSERVER_ENCRYPT=false
SQLSERVER_TRUST_CERT=true
AUTH_TOKEN_SECRET=gere-uma-chave-grande-e-secreta
WEB_ORIGIN=http://localhost:4173
AUTH_COOKIE_SECURE=false
